<% content_for :title do %>New Visitors Welcome<% end %>
<% content_for :description do %>Website for New Visitors<% end %>
<section>
	<img src="http://blog.travelpapa.com/wp-content/gallery/new-photos/lighted-cherry-blossom-lake-japan.jpg">
</section>
<section>
	<div class="column">
	<h2>Stay in touch.</h2>
</div>
<div class="column">
	<div class="form-centered">
		<%= simple_form_for @visitor do |f| %>
			<%= f.error_notification %>
			<%= f.input :email, label: false, :placeholder => 'Enter Your Email' %>
			<br/>
			<%= f.button :submit, "Sign up for the newsletter", :class => "submit" %>
		<% end %>
	</div>
</div>
</section>