<% content_for :title do %>Dingleberry<% end %>
<h1>Madness is Slowly Setting In</h1>
<p>This is way too hard. I have succcumed to the madness that has slowly set in called RoR</p>
<p>I am not retaining any of this stuff. Why?</p>
